# You can get an Anthropic key from https://platform.claude.com/settings/keys
ANTHROPIC_API_KEY=""
ANTHROPIC_MODEL="claude-sonnet-5"

# You can generate a Github token in https://github.com/settings/tokens 
# Make sure to give it read rights
GITHUB_TOKEN=""